<!-- <h1>Interpolation Example</h1>
<br>
<b>
  Name :{{name}}
  <br> Age :{{age}}
  <br>Email <input type="text" value="{{email}}" />
  <h1>Property Binding</h1>
  <br>Name <input type="text" [value]="name" />
  <br>Age <input type="text" [value]="age"/>
  <br>Email <input type="text" [value]="email" />
  
  <h1>Event Binding</h1>
  <button (click)="chaneName()">Change</button>
  <br><button (click)="changeAge()">Click</button>
  <br><button (click)="changeEmail()">Change</button>
  <br>
  <img [src]="imagePath" width="300" height="200" />
  <br>
  <button (click)="changeImage()">image</button>
  <br><br>
  <h1>Two way Data Binding</h1>
  <br>
  Enter Your First Name<input type="text" [(ngModel)]="fname"/>
  <br>
  <b>Welcome {{fname}}</b>
</b> -->

<!-- <h1 [ngClass]="MyClass">Structural and Attribute Directives Example</h1>
<br>
<button (click)="changeFlag()">Show or Hide Div</button>
<br><br>
<div *ngIf="flag" [ngStyle]="myStyle">
  <br>
  <ul>
    <li *ngFor="let vec of vehicles" (click)="setSelectedItem(vec)">{{vec}}</li>
  </ul>
  <br>
  <b>You have selected:{{selectedVehicle}}</b>
  <br>
  <div [ngSwitch]="selectedVehicle">
    <font color="green" *ngSwitchCase="'Twowheelers'">Bike</font>
    <font color="green" *ngSwitchCase="'ThreeWheeler'">Auto</font>
    <font color="green" *ngSwitchCase="'FourWheeler'">Car</font>
    <font color="green" *ngSwitchDefault>Invalid</font>
  </div>
  <br>
  <button (click)="changeStyle()">Change</button>
</div> -->



<!-- <div class="myDiv">
  <table width="80%" align="center">
  <tr>
  <td><a routerLink="Home">Home</a></td>
  <td><a routerLink="Contact">Contact</a></td>
  <td><a routerLink="About">About</a></td>
  </tr>
  </table>
  <hr/>
  <div>
     This is the space for New Component.
     <router-outlet></router-outlet>
  </div>
  </div> -->
  
  
  <h1>
    Sum:{{sum}}
  </h1>
  <app-child></app-child>

 