<body>

<nav>
  <div class="navbar">
    <div class="logo"><a href="#">Meeting Room Booking System</a></div>
  </div>
</nav>
<div class="row">
  <div class="column">
    <h2>Details</h2>
    <label for="room">Room Type:</label>
    <input type="text" placeholder="RoomType" id="room">
    <label for="name">Booked by:</label>
    <input type="text" placeholder="Booked By" id="name">
    <label for="period">Booked on:</label>
    <input type="datetime-local" placeholder="TimePeriod" id="period">
    <label for="days">Duration:</label>
    <input type="number" id="days" placeholder="No Of Days" min="1" max="5">
    <label for="amount">Amount:</label>
    <input type="text" placeholder="Amount" id="amount">
    <button type="submit">Save</button>
    <button type="submit">Delete</button>
    <button type="reset">Reset</button>
  </div>
  <div class="column">
    <h2>Data Entries</h2>
    <p></p>
  </div>
</div>
</body>